<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Сервис распределения студентов</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="~/css/atomic.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mbr5">
            <a class="navbar-brand" href="#">Сервис распределения студентов</a>
        </nav>
    </header>
    @RenderBody()
    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/popper.min.js"></script>
    <script src="~/js/lib/bootstrap.min.js"></script>
</body>
</html>
