
@{
    ViewData["title"] = "Завершенные распределения";
    ViewData["active"] = "finished";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h1 class="absolute-center">Нет завершенных распределений</h1>

